# fabio is a fast, modern, zero-conf load balancing HTTP(S) router for deploying applications managed by consul.
# Home: https://github.com/eBay/fabio
[Unit]
Description=Fabio consul router
After=syslog.target
After=network.target

[Service]
Environment="GOMAXPROCS=`nproc`"
Restart=on-failure
User=fabio
Group=fabio
ExecStart=/bin/bash -a -c '{{ fabio_binary_path }}/fabio -cfg {{ fabio_directories_config }}/fabio.properties >> {{ fabio_directories_log }}/fabio.log 2>&1'
ExecReload=/bin/kill -HUP $MAINPID
KillSignal=SIGINT
TimeoutStopSec=5
# no need that fabio messes with /dev
PrivateDevices=yes
# dedicated /tmp
PrivateTmp=yes
# make /usr, /boot, /etc read only
ProtectSystem=full
# /home is not accessible at all
ProtectHome=yes
# to be able to bind port < 1024
AmbientCapabilities=CAP_NET_BIND_SERVICE
NoNewPrivileges=yes
# only ipv4, ipv6, unix socket and netlink networking is possible
# netlink is necessary so that fabio can list available IPs on startup
RestrictAddressFamilies=AF_INET AF_INET6 AF_UNIX AF_NETLINK


[Install]
WantedBy=multi-user.target
