---
- hosts: openldap-servers
  become: True
  pre_tasks:
  - name: install dependency
    apt:
      name: python-jmespath
    become: True
  
  roles:
  - role: local.openldap
    openldap_schemas:
      - core
      - cosine
      - nis
      - inetorgperson
      - rfc2739
    openldap_bases:
      - rootdn: cn=admin
        suffix: dc=org,dc=opendp
        indexes:
          - [ "uid,uidNumber,gidNumber,memberUID", "pres,eq" ]
  post_tasks:
  - name: Make sure we have a parent entry for users
    ldap_entry:
      dn: "{{ item.dn }}"
      objectClass: "{{ item.objectclass }}"
      attributes: "{{ item.attributes }}"
    with_items:
    - { dn: "dc=opendp,dc=org",
        objectclass: ["dcObject", "organization"],
        attributes: {
          o: opendp project,
          dc: opendp 
        }
      }
    - { dn: "ou=users,dc=opendp,dc=org",
        objectclass: ["organizationalUnit"],
        attributes: {
          ou: users 
        }
      }
    - { dn: "ou=groups,dc=opendp,dc=org",
        objectclass: ["organizationalUnit"],
        attributes: {
          ou: users 
        }
      }
    - { 
        dn: "uid=alice,ou=users,dc=opendp,dc=org",
        objectclass: ["inetOrgPerson", "organizationalPerson", "person", "top"],
        attributes: {
          uid: alice,
          cn: "alice springs",
          sn: "springs",
          userPassword: "alice" 
        }
      }
    - { 
        dn: "uid=bob,ou=users,dc=opendp,dc=org",
        objectclass: ["inetOrgPerson", "organizationalPerson", "person", "top"],
        attributes: {
          uid: bob,
          cn: "bob andrews",
          sn: "andrews", 
          userPassword: "{{ 'bob' | password_hash('sha512')}}" 
        }
      }
    - { 
        dn: "uid=nick,ou=users,dc=opendp,dc=org",
        objectclass: ["inetOrgPerson", "organizationalPerson", "person", "top"],
        attributes: {
          uid: nick,
          cn: "nick elback",
          sn: "elback", 
          userPassword: "{{ 'nick' | password_hash('sha512')}}" 
        }
      }
    - { 
        dn: "cn=developers,ou=groups,dc=opendp,dc=org",
        objectclass: ["groupOfNames"],
        attributes: {
          cn: developers,
          member: "uid=bob,ou=users,dc=opendp,dc=org"
        }
      }
    - { 
        dn: "cn=cdengineers,ou=groups,dc=opendp,dc=org",
        objectclass: ["groupOfNames"],
        attributes: {
          cn: cdengineers,
          member: "uid=nick,ou=users,dc=opendp,dc=org"
        }
      }
    tags: post_task

  - name: ensure users in groups
    ldap_attr:
      dn: "{{ item.dn }}"
      name: "{{ item.name }}" 
      values: "{{ item.ldap_values }}"
      state: exact
      bind_dn: "cn=admin,dc=opendp,dc=org"
      bind_pw: secret
    with_items:
    - {
      dn: "cn=developers,ou=groups,dc=opendp,dc=org",
      name: "member",
      ldap_values: ["uid=bob,ou=users,dc=opendp,dc=org", "uid=alice,ou=users,dc=opendp,dc=org"]
    }
    - {
      dn: "uid=alice,ou=users,dc=opendp,dc=org",
      name: "userPassword",
      ldap_values: "alice" 
    }
    tags: post_task

  - name: ensure directory exists
    file:
      path: "/etc/ldap/ssl"
      owner: openldap
      group: openldap
      mode: 0700
      state: directory
    become: True
    tags: post_task

  - name: copy cert / key material
    copy:
      src: "/home/vagrant/pki/{{item.src}}"
      dest: "/etc/ldap/ssl/{{item.dest | default(item.src)}}"
      owner: openldap
      group: openldap
    with_items:
      - {src: "ldap.service.consul.pem", dest: ldap.crt}
      - {src: "ldap.service.consul-key.pem", dest: ldap.key}
      - {src: "ca.pem", dest: "ca.crt"}
    tags: post_task

  - include: openldap_tls.yml
    tags: tls
    

#  - name: config global settings - key file
#    ldap_attr:
#      dn: "{{ item.dn }}"
#      name: "{{item.name}}"
#      values: "{{item.ldap_values}}"
#      state: "{{ item.state }}"
#    with_items:
#      - { dn: "cn=config", name: olcTLSCertificateKeyFile, ldap_values: "/etc/ldap/ssl/ldap.key", state: exact }
##      - { dn: "olcDatabase={1}mdb,cn=config", name: "olcSecurity", ldap_values: ["tls=1"], state: exact } # require tls
#    tags: post_task,tls,tls_key
#
#  - name: config global settings - ca cert
#    ldap_attr:
#      dn: "{{ item.dn }}"
#      name: "{{item.name}}"
#      values: "{{item.ldap_values}}"
#      state: "{{ item.state }}"
#    with_items:
#      - { dn: "cn=config", name: olcTLSCACertificateFile, ldap_values: "/etc/ldap/ssl/ca.crt", state: exact }
##      - { dn: "olcDatabase={1}mdb,cn=config", name: "olcSecurity", ldap_values: ["tls=1"], state: exact } # require tls
#    tags: post_task,tls
#  
#
#