---
- hosts: openldap-servers
  become: True
  pre_tasks:
  - name: install dependency
    apt:
      name: python-jmespath
    become: True
  
  roles:
  - role: local.openldap
    openldap_schemas:
      - core
      - cosine
      - nis
      - inetorgperson
      - rfc2739
    openldap_bases:
      - rootdn: cn=admin
        suffix: dc=opendp,dc=org
        indexes:
          - [ "uid,uidNumber,gidNumber,memberUID", "pres,eq" ]
  post_tasks:
  - name: Make sure we have a parent entry for users
    ldap_entry:
      dn: "{{ item.dn }}"
      objectClass: "{{ item.objectclass }}"
      attributes: "{{ item.attributes }}"
      bind_dn: cn=admin,dc=opendp,dc=org
      bind_pw: secret
      server_uri: ldap://192.168.56.22/
    with_items:
    - { dn: "dc=opendp,dc=org",
        objectclass: ["dcObject", "organization"],
        attributes: {
          o: opendp project,
          dc: opendp 
        }
      }
    - { dn: "ou=users,dc=opendp,dc=org",
        objectclass: ["organizationalUnit"],
        attributes: {
          ou: users 
        }
      }
    - { dn: "ou=groups,dc=opendp,dc=org",
        objectclass: ["organizationalUnit"],
        attributes: {
          ou: users 
        }
      }
    - { 
        dn: "uid=alice,ou=users,dc=opendp,dc=org",
        objectclass: ["inetOrgPerson", "organizationalPerson", "person", "top"],
        attributes: {
          uid: alice,
          cn: "alice springs",
          sn: "springs",
          userPassword: "alice" 
        }
      }
    - { 
        dn: "uid=bob,ou=users,dc=opendp,dc=org",
        objectclass: ["inetOrgPerson", "organizationalPerson", "person", "top"],
        attributes: {
          uid: bob,
          cn: "bob andrews",
          sn: "andrews", 
          userPassword: "{{ 'bob' | password_hash('sha512')}}" 
        }
      }
    - { 
        dn: "uid=nick,ou=users,dc=opendp,dc=org",
        objectclass: ["inetOrgPerson", "organizationalPerson", "person", "top"],
        attributes: {
          uid: nick,
          cn: "nick elback",
          sn: "elback", 
          userPassword: "{{ 'nick' | password_hash('sha512')}}" 
        }
      }
    - { 
        dn: "cn=developers,ou=groups,dc=opendp,dc=org",
        objectclass: ["groupOfNames"],
        attributes: {
          cn: developers,
          member: "uid=bob,ou=users,dc=opendp,dc=org"
        }
      }
    - { 
        dn: "cn=cdengineers,ou=groups,dc=opendp,dc=org",
        objectclass: ["groupOfNames"],
        attributes: {
          cn: cdengineers,
          member: "uid=nick,ou=users,dc=opendp,dc=org"
        }
      }
    tags: post_task

  - name: ensure users in groups
    ldap_attr:
      dn: "{{ item.dn }}"
      name: "{{ item.name }}" 
      values: "{{ item.ldap_values }}"
      state: exact
      bind_dn: "cn=admin,dc=opendp,dc=org"
      bind_pw: secret
    with_items:
    - {
      dn: "cn=developers,ou=groups,dc=opendp,dc=org",
      name: "member",
      ldap_values: ["uid=bob,ou=users,dc=opendp,dc=org", "uid=alice,ou=users,dc=opendp,dc=org"]
    }
    - {
      dn: "uid=alice,ou=users,dc=opendp,dc=org",
      name: "userPassword",
      ldap_values: "alice" 
    }
    tags: post_task

  - include: openldap_tls.yml
    tags: tls
    

